* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, how? 10px/16px = 62.5%, being 16px the browser default size 
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

.header {
  font-size: 3rem;
}

.search-btn:hover{
  background-color: #EEEEEE;
 
}