* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, how? 10px/16px = 62.5%, being 16px the browser default size 
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

.header {
  font-size: 3rem;
}

.search-btn{

  transition: all .3s;

  &:hover {
      background-color: #fff;
      transform: translateY(-20%)
  }

  &:focus{
    animation: pulsate 1s infinite;
  }

  @keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
  }
 
}